* {
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.calculator {
    text-align: center;
    font-size: 30px;
}

.container {
    text-align: center;
}

button {
    font-size: 25px;
    width: 200px;
    height:100px;
    border-radius: 20px;
    background-color: #fff;
    color: #705a69;
    font-weight: bold;
    border: #fff;
    justify-content: space-between;
    margin: 10px;
}

#button1 {
    position: relative;
}

#button2 {
    position: relative;
}

input {
    font-size: 25px;
    height: 40px;
}

#button_submit {
    border-radius: 5px;
    height: 40px;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
}

.navbar a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}